<div class="panel panel-success text-center" id="club">
    <div class="panel-heading">{{skillFootballer}}</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                Intelligence:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.intelligence}}%;">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                Vision:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.vision}}%;">
                </div>
            </div>
            </li>
            <li class="list-group-item">
                Speed:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.speed}}%;">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                Strength:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.strength}}%;">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                Shooting:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.shooting}}%;">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                Passing:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.passing}}%;">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                Driblling:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skills.dribbling}}%;">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
